<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	    <connectionStrings>
		        <add name="PlannerContext"
					connectionString="Data Source=LAPTOP-FETHMEHK;Initial Catalog=planner;Integrated Security=True;MultipleActiveResultSets=True"
					providerName="System.Data.SqlClient" />
		   
	</connectionStrings>	
</configuration>